html, body{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Montserrat';
    color: black;
  }
  
  /* NavBar StyleSheet */
  .navbar {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;right: 0;left: 0;
    z-index: 1000;
    box-shadow: 0 1px 4px rgb(146 161 176 / 50%);
  }
  .navtitle {
    /* font-size: 1rem; */
    font-size: 100%;
    align-self: center;
    font-style: italic;
    font-weight: bold;
    margin-left: 2%;
    width: 70%;
  }
  .navgroup {
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: center;
    font-size: 17px;
    margin-right: 2%;
  }
  .navgroup a{
    position: relative;
    color: rgb(0 0 0 / 80%);
    font-size: 100%;
    text-decoration: none;
    list-style: none;
    /* margin: 20px; */
  }
  
  /* HOVER ANIMATIONS
  
   .navgroup a:after {  
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height:2px;
    bottom: 0; left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .navgroup a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */
  
  
  /* Smaller screen */
    /* button-menu-items */
    .menu-items {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .menu-items li {
      list-style: none;
    }
    .menu-items a{
      display: inline-block;
      position: relative;
      color: #0e2431;
      font-weight: 500;
      font-size: 1.2rem;
      margin: 20px;
    }
  
  
  
  
  
  
  
  
  /* Main Heading */
  .main-heading {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #17153C;
    position: relative;
  }
  /* Background Elements */
  #top-left-img {
    width: 125px; /* or 8vw */
    position: absolute;
    top: 0; left: 0;
  }
  #top-right-img {
    width: 200px; /* or 8vw */ 
    position: absolute;
    top: 0; right:0;
  }
  #bottom-left-img {
    width: 200px; /* or 8vw */ 
    position: absolute;
    bottom: 0; left: 0;
  }
  #bottom-right-img {
    width: 125px; /* or 8vw */ 
    position: absolute;
    bottom: 0; right:0;
  }
  #datathon-img {
    width:50%;
  }
  
  .countdown {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: flex-start;
    padding: 2%;
    flex-direction: row;
    justify-content: center;
    font-family: Montserrat;
  }
  .timer-container-container{
    flex: 0 0 auto;
    /* width: 120px; */
    /* height: 105px; */
    /* width: 10%;
    height: auto; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 0 10px;
  }
  .timer-container{
    width: 60px;
    height: 50%;
    /* max-height: 50px; */
    display: flex;
    align-items: center;
    padding: 16px 0px 16px 0px;
    border-radius: 20px;
    margin-bottom: 7px;
    background-color: white;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  .time-seperator {
    color:white;
    /* font-size: 32px; */
    font-size: 120%;
    align-self: center;
  }
  #days, #hours, #minutes, #seconds {
    color: black;
    font-weight: bold;
    /* font-size: 24px; */
    font-size: 130%;
  }
  #timer-text {
    width: 100%;
    text-align: center;
    /* font-size: 20px; */
    font-size: 100%;
    font-weight: bold;
    color: #C3C5C9;
    text-transform: uppercase;
  }
  .register-button {
    background-color: white;
    display: flex;
    padding: 0.75rem 1rem 0.75rem 1rem;
    margin: 10.25px 0 8.25px 0;
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 1.25;
    color: black;
    border-color: gray;
    border-width: 1px;
    border-radius: 4px;
  }
  .register-button:hover {
    transform: scale(1.1);
    /* background-color: #1e293b;
    color: #fff; */
  }
  .register-text {
    color:white;
    font-style: italic;
    text-align: center;
    font-family: montserrat;
  }
  
  
  
  
  
  
  
  /* overview */
  .overview {
    background-color: white;
    padding: 4rem;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .overview h1 {
    font-size: 30pt;
    font-weight: bold;
    margin: 0 0 20pt 0;
    text-transform: uppercase;
    font-family: roboto;
    color: black;
  }
  .overview p {
    font-size: 15pt;
    font-family: montserrat;
    color: black;
  }
  .overview hr {
    width: 80%;
  }
  #logo-img {
    padding: 0 5% 0 5%;
  }
  
  
  /* benefit */
  .benefit {
    padding: 4rem;
    font-family: montserrat;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .benefit h1 {
    font-size: 30pt;
    font-weight: bold;
    margin: 0 0 20pt 0;
    text-transform: uppercase;
    font-family: roboto;
    color: black;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 30%));
    grid-column-gap: 1rem;
    justify-content: center;
  }
  .card {
    max-width: 15rem;
    color: black;
    padding: 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    pointer-events: auto;
    transform: scale(1);
    opacity: 1;
    transition: all 150ms ease-in-out;
  }
  .card-icon{
    width: 50%; 
    margin-bottom: 5%; 
    align-self: center; 
    fill: #FFDE59;
  }
  .card-title {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    margin-bottom: 12px;
    font-family: Montserrat;
    align-items: center;
    flex-direction:column;
  }
  .description {
    font-size: 18px;
    text-transform: capitalize;
    font-family: Montserrat;
  }
  .cards:hover > .card:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
  }
  .cards:hover > .card:not(:hover) {
    opacity: 0.5;
  }
  
  
  /* promotional video */
  .video {
    padding: 4rem;
    font-family: montserrat;
    color: black;
    width: 50%;
    text-align: center;
    margin: auto;
    position: relative;
  }
  .video h1 {
    font-size: 30pt;
    font-weight: bold;
    margin: 0 0 20pt 0;
    text-transform: uppercase;
    font-family: roboto;
  }
  .video h2{
    font-size: 20px;
    padding: 0;
  }
  
  
  /* Timeline */
  .timeline {
    padding: 4rem;
    font-family: montserrat;
    color: black;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .timeline h1 {
    font-size: 30pt;
    font-weight: bold;
    margin: 0 0 20pt 0;
    text-transform: uppercase;
    font-family: roboto;
  }
  .timeline-container {
    display: flex;
    /* overflow: overlay; */
    flex: 0 0 auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline-container-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .timeline-top {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: 2px;
    padding-right: 2px;
    flex-direction: row;
    justify-content: center;    
  }
  .timeline-icon-container {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    display: flex;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-radius: 90%;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
  }
  .timeline-icon {
    fill: black;
    
    width: 24px;
    height: 24px;
    align-self: center;
  
  }
  .timeline-line {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #ffde59;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .timeline-line-end {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: transparent;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .timeline-content {
    width: 227px;
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: montserrat; 
  }
  .timeline-title {
    color: black;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 5%;
    font-weight: bold;
    align-self: center;
  }
  .timeline-description {
    color: #595959;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
  }
  
  
  
  
  
  
  
  
  
  /* Heading3 */
  #head3 {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
  }
  
  
  
  
  
  
  
  
  /* timeline option 2*/
  /* .timeline-container{
    padding: 4rem;
    font-family: montserrat;
    color: black;
    place-self: center;
    text-align: center;
  }
  .timeline-container h1{
    font-size: 30pt;
    font-weight: bold;
    margin: 0 0 20pt 0;
    text-transform: uppercase;
    font-family: roboto;
  }
  .timeline{
    width: 800px;
    height: 20px;
    list-style: none;
    text-align: justify;
    margin-top: 12%;
    margin-bottom: 20%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgba(255,222,89,1) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
    color: black;
    font-family: montserrat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
  }
  .timeline li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #F2BB13;
      text-align: center;
      line-height: 1.2;
      position: relative;
      border-radius: 50%;
    word-wrap: break-word;
  }
  .timeline li:before {
      display: inline-block;
      content: attr(data-year);
      font-size: 26px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    top: -70px;
  }
  .timeline li:after {
      display: inline-block;
      content: attr(data-text);
      font-size: 16px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    bottom: 0;
      margin-bottom: -10px;
      transform: translate(-50%, 100%);
  } */
  
  
  
  
  
  
  
  
  .img-container {
    margin-top: 2em;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
  }
  .label-container {
    display: flex;
    position: relative;
  }
  .label-text {
    color: var(--dl-color-pimary-500);
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    padding-top: 0.25rem;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius25);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    background-color: var(--dl-color-pimary-700);
  }
  
  .member-details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .member-details-image {
    width: 100px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .member-details-text {
    color: var(--dl-color-secondary-100);
    text-align: center;
    padding-top: var(--dl-space-space-unitandhalf);
  }
  .member-details-text1 {
    color: var(--dl-color-secondary-700);
    text-align: center;
    text-transform: uppercase;
  }
  
  .service-card-container {
    flex: 0 0 auto;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .service-card-container1 {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #f2f5f9ff;
  }
  .service-card-icon {
    fill: var(--dl-color-secondary-100);
    width: 24px;
    height: 24px;
  }
  .service-card-text {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-unitandhalf);
    font-weight: 600;
  }
  .service-card-text1 {
    color: var(--dl-color-secondary-500);
    font-size: 1.25rem;
    text-align: center;
  }
  @media(max-width: 991px) {
    .service-card-container {
      width: 100%;
      padding-bottom: var(--dl-space-space-doubleunit);
    }
  }
  
  .secondary-button-container {
    display: flex;
    position: relative;
  }
  .secondary-button-button {
    color: var(--dl-color-gray-white);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    transition: 0.3s;
    line-height: 1;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    text-transform: uppercase;
    background-color: var(--dl-color-secondary-300);
  }
  .secondary-button-button:hover {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  }
  .secondary-button-button:active {
    background-color: var(--dl-color-secondary-100);
  }
  .rootClassName {
    margin-top: var(--dl-space-space-unitandhalf);
  }
  
  .footer-container {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-doubleunit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-pimary-900);
  }
  .footer-container01 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-container02 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-text {
    color: var(--dl-color-secondary-400);
    margin-top: var(--dl-space-space-unit);
    font-weight: 600;
  }
  .footer-text02 {
    color: var(--dl-color-secondary-500);
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .footer-container03 {
    display: flex;
    margin-top: var(--dl-space-space-unitandhalf);
    align-items: flex-start;
    flex-direction: row;
  }
  .footer-container04 {
    flex: 0 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .footer-icon {
    fill: #37BCF8;
    width: 16px;
    height: 16px;
  }
  .footer-container05 {
    flex: 0 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .footer-icon2 {
    fill: #ea4c89;
    width: 16px;
    height: 16px;
  }
  .footer-container06 {
    flex: 0 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .footer-icon4 {
    fill: #4267B2;
    width: 16px;
    height: 16px;
  }
  .footer-container07 {
    flex: 0 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .footer-icon6 {
    width: 16px;
    height: 16px;
  }
  .footer-container08 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container09 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    margin-right: 6rem;
    flex-direction: column;
  }
  .footer-text03 {
    color: var(--dl-color-secondary-400);
    font-weight: 600;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text04 {
    color: var(--dl-color-secondary-500);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text05 {
    color: var(--dl-color-secondary-500);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text06 {
    color: var(--dl-color-secondary-500);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text07 {
    color: var(--dl-color-secondary-500);
  }
  .footer-container10 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-text08 {
    color: var(--dl-color-secondary-400);
    font-weight: 600;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text09 {
    color: var(--dl-color-secondary-500);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text10 {
    color: var(--dl-color-secondary-500);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text11 {
    color: var(--dl-color-secondary-500);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer-text12 {
    color: var(--dl-color-secondary-500);
  }
  .footer-container11 {
    flex: 0 0 auto;
    width: 100%;
    height: 1px;
    display: flex;
    margin-top: var(--dl-space-space-tripleunit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: column;
    background-color: #e3e8efff;
  }
  .footer-text13 {
    color: var(--dl-color-secondary-500);
    align-self: center;
  }
  @media(max-width: 991px) {
    .footer-container01 {
      align-items: center;
      flex-direction: column;
    }
    .footer-container02 {
      align-items: center;
      margin-bottom: var(--dl-space-space-doubleunit);
    }
    .footer-container09 {
      align-items: center;
    }
    .footer-container10 {
      align-items: center;
    }
  }
  @media(max-width: 767px) {
    .footer-text02 {
      text-align: center;
    }
    .footer-container08 {
      align-items: center;
      flex-direction: column;
    }
    .footer-container09 {
      align-items: center;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-doubleunit);
    }
    .footer-container10 {
      align-items: center;
    }
  }
  
  .home-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-image {
    top: 36px;
    right: -59px;
    width: 179px;
    height: 170px;
    z-index: 100;
    position: absolute;
    object-fit: cover;
  }
  .home-image1 {
    top: 591px;
    left: -60px;
    width: 179px;
    height: 170px;
    z-index: 100;
    position: absolute;
    object-fit: cover;
  }
  .home-front {
    flex: 0 0 auto;
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .home-heading {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #17153C;
  }
  .home-data-thon {
    object-fit: cover;
  }
  .home-subline {
    display: none;
    align-items: center;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-triplequarter);
    justify-content: center;
  }
  .home-text {
    color: var(--dl-color-gray-white);
    text-align: center;
  }
  .home-countdown {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: flex-start;
    padding-top: var(--dl-space-space-doubleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: center;
  }
  .home-days {
    flex: 0 0 auto;
    width: 120px;
    height: 105px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container01 {
    width: 63px;
    height: 73px;
    display: flex;
    padding: var(--dl-space-space-unit);
    max-width: 63px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    max-height: 73px;
    align-items: center;
    padding-top: 1rem;
    border-radius: var(--dl-radius-radius-radius75);
    flex-direction: column;
    padding-bottom: 1rem;
    background-color: var(--dl-color-gray-white);
  }
  .home-text01 {
    color: #000000;
    font-family: Montserrat;
    font-weight: bold;
  }
  .home-text02 {
    width: 100%;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
  }
  .home-text03 {
    color: #ffffff;
    font-size: 1.2rem;
    align-self: center;
    font-family: Montserrat;
    font-weight: bold;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-hours {
    flex: 0 0 auto;
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container02 {
    width: 63px;
    height: 73px;
    display: flex;
    padding: var(--dl-space-space-unit);
    max-width: 63px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    max-height: 73px;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius75);
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .home-text04 {
    color: #000000;
    font-family: Montserrat;
    font-weight: bold;
  }
  .home-text05 {
    width: 100%;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
  }
  .home-text06 {
    color: #ffffff;
    font-size: 1.2rem;
    align-self: center;
    font-family: Montserrat;
    font-weight: bold;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-minutes {
    flex: 0 0 auto;
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container03 {
    width: 63px;
    height: 73px;
    display: flex;
    padding: var(--dl-space-space-unit);
    max-width: 63px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    max-height: 73px;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius75);
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .home-text07 {
    color: #000000;
    font-family: Montserrat;
    font-weight: bold;
  }
  .home-text08 {
    width: 100%;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
  }
  .home-text10 {
    color: #ffffff;
    font-size: 1.2rem;
    align-self: center;
    font-family: Montserrat;
    font-weight: bold;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-seconds {
    flex: 0 0 auto;
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container04 {
    width: 63px;
    height: 73px;
    display: flex;
    padding: var(--dl-space-space-unit);
    max-width: 63px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    max-height: 73px;
    align-items: center;
    padding-top: 1rem;
    border-radius: var(--dl-radius-radius-radius75);
    flex-direction: column;
    padding-bottom: 1rem;
    background-color: var(--dl-color-gray-white);
  }
  .home-text11 {
    color: #000000;
    font-family: Montserrat;
    font-weight: bold;
  }
  .home-text12 {
    width: 100%;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
  }
  .home-image2 {
    top: -3px;
    left: -58px;
    width: 158px;
    height: 136px;
    position: absolute;
    object-fit: cover;
  }
  .home-image3 {
    right: -30px;
    width: 158px;
    bottom: -21px;
    height: 136px;
    position: absolute;
    object-fit: cover;
  }
  .home-register {
    color: #000000;
    display: flex;
    margin-top: 0.25px;
    text-align: center;
    font-weight: bold;
    padding-top: var(--dl-space-space-triplequarter);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius75);
    margin-bottom: 0.25px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-triplequarter);
  }
  .home-text14 {
    color: #ffffff;
    font-style: italic;
    text-align: center;
    font-family: Montserrat;
    font-weight: 100;
  }
  .home-image4 {
    right: 0px;
    width: 100%;
    bottom: -1px;
    height: 50px;
    display: none;
    position: absolute;
    object-fit: cover;
  }
  .home-image5 {
    top: -1px;
    right: 0px;
    width: 100%;
    height: 50px;
    display: none;
    z-index: 1;
    position: absolute;
    object-fit: cover;
  }
  .home-section1 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-doubleunit);
    position: relative;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #ffffff;
  }
  .home-body {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
  }
  .home-container05 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .home-text16 {
    color: #000000;
    height: 300px;
    font-size: 5rem;
    align-self: flex-start;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-what {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container06 {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container07 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container08 {
    display: flex;
    align-self: flex-start;
    align-items: stretch;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: flex-start;
  }
  .home-text17 {
    color: #000000;
    font-size: 1.8em;
    align-self: center;
    font-family: Montserrat;
    text-transform: uppercase;
  }
  .home-text18 {
    color: #000000;
    font-size: 1.1rem;
    margin-top: var(--dl-space-space-unit);
    font-family: Montserrat;
  }
  .home-text19 {
    text-align: left;
  }
  .home-ul {
    margin-top: 0px;
    list-style-type: disc;
    list-style-position: outside;
  }
  .home-li {
    color: var(--dl-color-gray-black);
    font-family: Montserrat;
  }
  .home-text20 {
    text-align: justify;
  }
  .home-li1 {
    color: var(--dl-color-gray-black);
    font-family: Montserrat;
  }
  .home-text21 {
    text-align: justify;
  }
  .home-li2 {
    color: var(--dl-color-gray-black);
    font-family: Montserrat;
  }
  .home-text22 {
    text-align: justify;
  }
  .home-li3 {
    color: var(--dl-color-gray-black);
    font-family: Montserrat;
  }
  .home-text23 {
    text-align: justify;
  }
  .home-benefits {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-container09 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container10 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container11 {
    display: flex;
    padding: var(--dl-space-space-unit);
    align-self: flex-start;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text24 {
    color: #000000;
    font-size: 1.8em;
    align-self: center;
    font-family: Montserrat;
    text-transform: uppercase;
  }
  .home-cards-container {
    display: flex;
    margin-top: 0px;
    align-items: flex-start;
    padding-top: var(--dl-space-space-tripleunit);
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .home-card1 {
    flex: 0 0 auto;
    width: 30%;
    height: 100%;
    display: grid;
    padding: var(--dl-space-space-unit);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    transition: 0.3s;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
  }
  .home-card1:hover {
    z-index: 10;
    transform: scale(1.15);
  }
  .home-container12 {
    flex: 0 0 auto;
    width: auto;
    height: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container13 {
    flex: 0 0 auto;
    width: 4rem;
    height: 4rem;
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-pimary-700);
  }
  .home-icon {
    fill: var(--dl-color-pimary-500);
    width: 24px;
    height: 24px;
  }
  .home-text25 {
    color: var(--dl-color-secondary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-family: Open Sans;
  }
  .home-text26 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-card11 {
    flex: 0 0 auto;
    width: 30%;
    height: 100%;
    display: grid;
    padding: var(--dl-space-space-unit);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    transition: 0.3s;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
  }
  .home-card11:hover {
    z-index: 10;
    transform: scale(1.15);
  }
  .home-container14 {
    flex: 0 0 auto;
    width: auto;
    height: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container15 {
    flex: 0 0 auto;
    width: 4rem;
    height: 4rem;
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-pimary-700);
  }
  .home-icon02 {
    fill: var(--dl-color-pimary-500);
    width: 24px;
    height: 24px;
  }
  .home-text27 {
    color: var(--dl-color-secondary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-family: Open Sans;
  }
  .home-text28 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-card3 {
    flex: 0 0 auto;
    width: 30%;
    display: flex;
    padding: var(--dl-space-space-unit);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    align-items: center;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .home-container16 {
    flex: 0 0 auto;
    width: 3rem;
    height: 3rem;
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(180deg, #34d399, #059669);
  }
  .home-icon04 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
  }
  .home-text29 {
    color: var(--dl-color-secondary-100);
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    font-family: Open Sans;
  }
  .home-text30 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-text31 {
    color: #000000;
    height: 300px;
    font-size: 5rem;
    align-self: flex-start;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container17 {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-work-with-us {
    display: flex;
    margin-top: var(--dl-space-space-tripleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-tripleunit);
    flex-direction: row;
  }
  .home-container18 {
    flex: 0 0 auto;
    width: 41%;
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container19 {
    flex: 0 0 auto;
    display: flex;
    padding: var(--dl-space-space-unit);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .home-icon06 {
    fill: var(--dl-color-secondary-500);
    width: 24px;
    height: 24px;
  }
  .home-text32 {
    color: var(--dl-color-secondary-400);
    font-weight: 600;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text33 {
    color: var(--dl-color-secondary-500);
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text34 {
    font-weight: 300;
    white-space: normal;
    background-color: rgb(241, 245, 249);
  }
  .home-text37 {
    font-weight: 300;
    white-space: normal;
    background-color: rgb(241, 245, 249);
  }
  .home-text38 {
    color: var(--dl-color-secondary-400);
    font-style: normal;
    font-weight: 700;
  }
  .home-container20 {
    flex: 0 0 auto;
    width: 33%;
    display: flex;
    position: relative;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
    background-color: #09A6E9;
  }
  .home-container21 {
    width: 100%;
    height: 269px;
    display: flex;
    align-items: flex-end;
    border-radius: 0px;
    flex-direction: column;
    background-size: cover;
    justify-content: flex-end;
    background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    background-position: center;
    border-top-left-radius: var(--dl-radius-radius-radius50);
    border-top-right-radius: var(--dl-radius-radius-radius50);
  }
  .home-image6 {
    top: auto;
    left: auto;
    width: 100%;
    bottom: 0px;
    object-fit: cover;
    margin-bottom: -1px;
  }
  .home-container22 {
    display: flex;
    padding: var(--dl-space-space-doubleunit);
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text39 {
    font-size: 1.25rem;
  }
  .home-text40 {
    color: #f2f5f9ff;
    font-weight: 700;
    white-space: normal;
  }
  .home-text41 {
    color: #f2f5f9ff;
    margin-top: var(--dl-space-space-unit);
  }
  .home-section2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container23 {
    width: 66%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text43 {
    color: var(--dl-color-secondary-400);
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    line-height: 2.5rem;
  }
  .home-text44 {
    font-weight: 700;
    white-space: normal;
    background-color: rgb(255, 255, 255);
  }
  .home-text45 {
    color: var(--dl-color-secondary-700);
    text-align: center;
    margin-bottom: var(--dl-space-space-unitandhalf);
  }
  .home-growing-company-section {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-image7 {
    width: 33%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--dl-radius-radius-radius50);
  }
  .home-container24 {
    flex: 0 0 auto;
    width: 41%;
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container25 {
    flex: 0 0 auto;
    width: 4rem;
    height: 4rem;
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-pimary-700);
  }
  .home-icon08 {
    fill: var(--dl-color-pimary-500);
    width: 24px;
    height: 24px;
  }
  .home-text46 {
    color: var(--dl-color-secondary-400);
    margin-top: var(--dl-space-space-unitandhalf);
  }
  .home-text47 {
    color: var(--dl-color-secondary-400);
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unitandhalf);
  }
  .home-container26 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-container27 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-pimary-700);
  }
  .home-icon10 {
    fill: var(--dl-color-pimary-500);
    width: 20px;
    height: 20px;
  }
  .home-text48 {
    color: var(--dl-color-secondary-400);
  }
  .home-container28 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-container29 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-pimary-700);
  }
  .home-icon12 {
    fill: var(--dl-color-pimary-500);
    width: 20px;
    height: 20px;
  }
  .home-text49 {
    color: var(--dl-color-secondary-400);
  }
  .home-container30 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-container31 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-pimary-700);
  }
  .home-icon15 {
    fill: var(--dl-color-pimary-500);
    width: 20px;
    height: 20px;
  }
  .home-text50 {
    color: var(--dl-color-secondary-400);
  }
  .home-container32 {
    flex: 0 0 auto;
    width: 66%;
    display: flex;
    margin-top: var(--dl-space-space-fiveunits);
    align-items: center;
    margin-bottom: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-text51 {
    color: #f97316ff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }
  .home-text53 {
    color: var(--dl-color-secondary-400);
    text-align: center;
  }
  .home-text54 {
    color: var(--dl-color-secondary-700);
    text-align: center;
    margin-bottom: 0.25rem;
  }
  .home-text55 {
    display: inline;
    font-weight: 400;
    white-space: normal;
  }
  .home-team {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container33 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
  }
  .home-navlink {
    display: contents;
  }
  .home-container34 {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  .home-container35 {
    flex: 0 0 auto;
    display: flex;
    margin-top: var(--dl-space-space-unitandhalf);
    align-items: flex-start;
    flex-direction: row;
  }
  .home-container36 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #37BCF8;
  }
  .home-icon17 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container37 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #4aa4e3ff;
  }
  .home-icon19 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container38 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #EC4999;
  }
  .home-icon21 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-navlink1 {
    display: contents;
  }
  .home-container39 {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  .home-container40 {
    flex: 0 0 auto;
    display: flex;
    margin-top: var(--dl-space-space-unitandhalf);
    align-items: flex-start;
    flex-direction: row;
  }
  .home-container41 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #BD195D;
  }
  .home-icon23 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container42 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #4aa4e3ff;
  }
  .home-icon25 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-navlink2 {
    display: contents;
  }
  .home-container43 {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  .home-container44 {
    flex: 0 0 auto;
    display: flex;
    margin-top: var(--dl-space-space-unitandhalf);
    align-items: flex-start;
    flex-direction: row;
  }
  .home-container45 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #37BCF8;
  }
  .home-icon27 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container46 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #4aa4e3ff;
  }
  .home-icon29 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container47 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #BD195D;
  }
  .home-icon31 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-navlink3 {
    display: contents;
  }
  .home-container48 {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
  }
  .home-container49 {
    flex: 0 0 auto;
    display: flex;
    margin-top: var(--dl-space-space-unitandhalf);
    align-items: flex-start;
    flex-direction: row;
  }
  .home-container50 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #37BCF8;
  }
  .home-icon33 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container51 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #4aa4e3ff;
  }
  .home-icon35 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container52 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #EC4999;
  }
  .home-icon37 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-container53 {
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #BD195D;
  }
  .home-icon39 {
    fill: var(--dl-color-gray-white);
    width: 18px;
    height: 18px;
  }
  .home-section3 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-secondary-100);
  }
  .home-container54 {
    width: 100%;
    display: flex;
    max-width: 1320px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text56 {
    font-style: normal;
    font-weight: 700;
  }
  .home-text58 {
    color: var(--dl-color-gray-white);
  }
  .home-text59 {
    width: 80%;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0.25rem;
  }
  .home-text60 {
    white-space: normal;
  }
  .home-services {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: space-between;
  }
  .home-container55 {
    flex: 0 0 auto;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container56 {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #f2f5f9ff;
  }
  .home-icon41 {
    width: 24px;
    height: 24px;
  }
  .home-text61 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-unitandhalf);
    font-weight: 600;
  }
  .home-text62 {
    color: rgba(100,116,139,1);
    font-size: 1.25rem;
    text-align: center;
  }
  .home-container57 {
    flex: 0 0 auto;
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-container58 {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: column;
    justify-content: center;
    background-color: #f2f5f9ff;
  }
  .home-icon43 {
    width: 24px;
    height: 24px;
  }
  .home-text63 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-unitandhalf);
    font-weight: 600;
  }
  .home-text64 {
    color: rgba(100,116,139,1);
    font-size: 1.25rem;
    text-align: center;
  }
  .home-contact {
    display: flex;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .home-text65 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-halfunit);
  }
  .home-text66 {
    color: rgba(255,255,255,0.75);
    width: 80%;
    text-align: center;
    font-weight: 300;
  }
  .home-form {
    flex: 0 0 auto;
    width: 80%;
    display: flex;
    padding: var(--dl-space-space-twoandhalf);
    max-width: 700px;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius50);
    flex-direction: column;
    background-color: var(--dl-color-pimary-800);
  }
  .home-text67 {
    color: var(--dl-color-secondary-400);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
  .home-text68 {
    color: rgba(100,116,139,1);
  }
  .home-text69 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-textinput {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text70 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-textinput1 {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textinput1:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px#4AA4E3;
  }
  .home-text71 {
    color: rgba(100,116,139,1);
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0.25rem;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-textarea {
    color: rgba(148, 163, 184, 1);
    width: 100%;
    outline: 0;
    padding: var(--dl-space-space-triplequarter);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
    transition: 0.3s;
    border-width: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-textarea:focus {
    color: var(--dl-color-secondary-500);
    box-shadow: 0 0 0 2px #4AA4E3;
  }
  .home-container59 {
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-image8 {
    top: auto;
    left: auto;
    right: 0px;
    width: 100%;
    bottom: -1px;
    position: absolute;
    object-fit: cover;
  }
  @media(max-width: 991px) {
    .home-container01 {
      width: 90%;
      margin-bottom: var(--dl-space-space-fiveunits);
    }
    .home-container02 {
      width: 90%;
      margin-bottom: var(--dl-space-space-fiveunits);
    }
    .home-container03 {
      width: 90%;
      margin-bottom: var(--dl-space-space-fiveunits);
    }
    .home-container04 {
      width: 90%;
      margin-bottom: var(--dl-space-space-fiveunits);
    }
    .home-container06 {
      align-items: center;
      flex-direction: column;
    }
    .home-cards-container {
      align-items: center;
      flex-direction: column;
    }
    .home-card1 {
      width: 90%;
      margin-bottom: var(--dl-space-space-fiveunits);
    }
    .home-card11 {
      width: 90%;
      margin-bottom: var(--dl-space-space-fiveunits);
    }
    .home-card3 {
      width: 90%;
    }
    .home-container17 {
      align-items: center;
      flex-direction: column;
    }
    .home-section2 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-text43 {
      text-align: center;
    }
    .home-section3 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container54 {
      width: 100%;
    }
    .home-services {
      align-items: center;
      flex-direction: column;
    }
    .home-container55 {
      width: 100%;
      padding-bottom: var(--dl-space-space-doubleunit);
    }
    .home-container57 {
      width: 100%;
      padding-bottom: var(--dl-space-space-doubleunit);
    }
  }
  @media(max-width: 767px) {
    .home-section1 {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-work-with-us {
      margin-top: var(--dl-space-space-tripleunit);
      flex-direction: column;
    }
    .home-container18 {
      width: 100%;
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-container20 {
      width: 100%;
    }
    .home-container23 {
      width: 100%;
    }
    .home-growing-company-section {
      flex-direction: column;
    }
    .home-image7 {
      width: 100%;
    }
    .home-container24 {
      width: 100%;
      margin-top: var(--dl-space-space-doubleunit);
    }
    .home-container32 {
      width: auto;
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-container33 {
      flex-wrap: wrap;
      flex-direction: row;
    }
    .home-container34 {
      width: 50%;
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-container39 {
      width: 50%;
      padding-bottom: var(--dl-space-space-tripleunit);
    }
    .home-container43 {
      width: 50%;
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-container48 {
      width: 50%;
    }
    .home-form {
      width: 100%;
    }
  }
  @media(max-width: 479px) {
    .home-subline {
      padding-left: var(--dl-space-space-doubleunit);
      padding-right: var(--dl-space-space-doubleunit);
    }
    .home-container01 {
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-container02 {
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-container03 {
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-container04 {
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-card1 {
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-text26 {
      text-align: left;
    }
    .home-card11 {
      margin-bottom: var(--dl-space-space-tripleunit);
    }
    .home-text28 {
      text-align: left;
    }
    .home-text30 {
      text-align: left;
    }
    .home-container24 {
      align-items: flex-start;
    }
    .home-container33 {
      align-items: center;
      flex-direction: column;
    }
    .home-text58 {
      text-align: center;
    }
    .home-text65 {
      text-align: center;
    }
    .home-text67 {
      text-align: left;
    }
  }
  
  