@media (min-width:320px) and (max-width:767px){
  /* section-one */
  #top-left-img {
    width: 30vw;
  }
  #top-right-img {
    width: 40vw;
  }
  #bottom-left-img {
    width: 40vw;
  }
  #bottom-right-img {
    width: 30vw;
  }
  #datathon-img {
    width: 300px;
  }
  .countdown {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 290px;
  }
  .timer-container{
    width:50px;
    height:60px;
  }
  #time-separator {
    font-size: 20px;
  }
  #days, #hours, #minutes, #seconds {
    font-size: 20px;
  }
  #timer-text {
    font-size: 12px;
  }
  .register-button {
    font-size: 13px;
    padding: 0.8rem 1rem;
    margin: 10.25px 0 8.25px 0;
  }
  .register-text{
    font-size: 13px;
  }

  /* section-two */
  .section-two {
    padding: 2rem;
    width: 80%;
  }
  .section-two-left{
    display: none;
  }
  .section-two-right{
    padding:0;
    margin:auto;
    width: 100%;
  }
  .section-two h1 {
    /* font-size: 25pt; */
    font-size: 27px;
    margin: 0 0 10pt 0;
  }
  .section-two-description{
    padding:0;
    padding-top: 10pt;
  }
  .section-two p {
    font-size: 16px;
  }
  .logos{
    height: 100px;
    width:100%;
    column-gap: 5%;
  }

  /* section-three */
  .section-three {
    padding: 2rem;
    width: 80%;
  }
  .section-three h1 {
    font-size: 27px;
    margin: 0 0 10pt 0;
  }
  .cards{
    flex-wrap: wrap;
    grid-gap: 1rem;
  }
  .card {
    padding: 1rem;
    max-width: 15rem;
    width:100%;
    grid-template-rows: 1fr 20% 1fr;
  }
  .card-icon{
    width: 30%; 
    margin-bottom: 5%;
  }
  .card-title {
    font-size: 18px;
    margin: 2% 0;
  }
  .description {
    font-size: 15px;
    margin:0;
  }

  /* section-four */
  .section-four {
    padding: 2rem;
    width: 80%;
  }
  .section-four h1 {
    font-size: 27px;
    margin: 0 0 10pt 0;
  }
  .section-four li{
    font-size: 16px;	
    padding: 0;
    padding-top: 10pt;
  }

  /* section-five */
  .section-five {
    width: 80%;
    padding: 2rem;
  }
  .section-five h1{
    font-size: 27px;
    margin: 0 0 10pt 0;
  }
  .section-five h2{
    font-size: 16px;
  }
  .section-five-bg{
    height:8vh;
  }

  /* section-six */
  .section-six {
    width: 80%;
    padding: 2rem;
  }
  .section-six h1{
    font-size: 27px;
    margin: 0 0 10pt 0;
  }
  .timeline-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .timeline-container-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .timeline-top {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: 2px;
    padding-right: 2px;

    width: 48px;
    height: auto;
    align-self: stretch;
    padding: 0 0 2px 0;
    flex-direction: column;
    justify-content: space-between;
  }
  .timeline-line {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #ffde59;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;

    border-top-width: 0px;
    border-left-width: 2px;
  }
  .timeline-content {
    width: 227px;
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: montserrat; 

    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding:5%;
    align-items: center;
  }
  .timeline-title{
    color: black;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 5%;
    font-weight: bold;
    align-self: center;

    font-size: 18px;
  }
  .timeline-description{
    color: #595959;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;

    font-size: 15px;
  }

  /* section-seven */
  .section-seven{
    width: 80%;
    padding: 2rem;
  }
  .section-seven h1{
    font-size: 27px;
    margin: 0 0 10pt 0;
  }
  .question{
    padding:4%;
    font-size: 15px;
  }
  .answer p{
    font-size: 15px;
  }

  /* Footer */
  .footer{
    /* width: 80%; */
    padding: 1rem;
    grid-template-columns: none;
    grid-template-rows: 90% 80%;
  }
  .footer-left{
    display: flex;
    flex-direction: row;
    height: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  #footer-logo-one, #footer-logo-two, #footer-logo-three, #footer-logo, #footer-logo-last{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
  }
  .footer-icons{
    justify-content: center;    
  }
  .footer-right span{
    margin-bottom: 10px;
  }
  #footer-icon{
    max-width: 10%;
    max-height: 10%;
  }
}


@media (min-width:768px) and (max-width:1023px){
  /* section-one   */
  #top-left-img {
    width: 15vw;
  }
  #top-right-img {
    width: 20vw;
  }
  #bottom-left-img {
    width: 20vw;
  }
  #bottom-right-img {
    width: 15vw;
  }
  #datathon-img {
    width: 500px;
  }
  .countdown {
    margin-top: 3%;
    margin-bottom: 7%;
    width: 450px;
  }
  .timer-container{
    width:60px;
    height:70px;
  }
  #time-separator {
    font-size: 25px;
  }
  #days, #hours, #minutes, #seconds {
    font-size: 20px;
  }
  #timer-text {
    font-size: 15px;
  }
  .register-button {
    font-size: 15px;
    padding: 0.8rem 1rem;
    margin: 10.25px 0 8.25px 0;
  }
  .register-text{
    font-size: 15px;
  }

  /* section-two */
  .section-two {
    padding: 2rem;
    width: 80%;
  }
  .section-two-left{	
    align-self: center;
    width: 50%;
    padding: 0;
  }
  .section-two-right{	
    padding:0;	
    margin:auto;	
    width: 100%;	
  }
  .section-two h1 {
    font-size: 30px;
    margin: 0 0 15pt 0;
  }
  .section-two-description{	
    padding:0;	
    padding-top: 10pt;	
  }
  .section-two p {
    font-size: 17px;
  }
  .logos{
    height: 100px;	
    width:100%;	
    column-gap: 5%;
  }

  /* section-three */
  .section-three {
    padding: 2rem;
    width: 80%;
  }
  .section-three h1 {
    font-size: 30px;
    margin: 0 0 15pt 0;
  }
  .card {
    max-width: 10rem;
    padding: 1.2rem;
  }
  .card-icon{
    width: 40%; 
    margin-bottom: 20px;
  }
  .card-title {
    font-size: 17px;
    /* margin: 5% 0; */
  }
  .description {
    font-size: 13px;
    margin:0;
  }

  /* section-four */
  .section-four {
    padding: 2rem;
    width: 80%;
  }
  .section-four h1 {
    font-size: 30px;
    margin: 0 0 15pt 0;
  }
  .section-four li{
    font-size: 17px;		
    padding: 0;	
    padding-top: 10pt;
  }

  /* section-five */
  .section-five {	
    width: 80%;	
    padding: 2rem;	
  }	
  .section-five h1{	
    font-size: 30px;
    margin: 0 0 15pt 0;
  }	
  .section-five h2{	
    font-size: 17px;
  }	
  .section-five-bg{	
    height:11vh;	
  }	

  /* section-six */
  .section-six {	
    width: 60%;	
    padding: 2rem;	
  }	
  .section-six h1{	
    font-size: 30px;
    margin: 0 0 15pt 0;
  }	
  .timeline-container{	
    display: flex;	
    align-items: flex-start;	
    flex-direction: column;	
  }	
  .timeline-container-container {	
    width: 100%;	
    height: 100%;	
    display: flex;	
    align-items: center;	
    flex-direction: row;	
    justify-content: center;	
  }	
  .timeline-top {	
    flex: 0 0 auto;	
    width: 100%;	
    display: flex;	
    align-items: center;	
    padding-top: var(--dl-space-space-unit);	
    padding-left: 2px;	
    padding-right: 2px;	
    width: 48px;	
    height: auto;	
    align-self: stretch;	
    padding: 0 0 2px 0;	
    flex-direction: column;	
    justify-content: space-between;	
  }	
  .timeline-line {	
    flex: 1;	
    height: 0px;	
    display: flex;	
    align-items: flex-start;	
    border-color: #ffde59;	
    border-style: dashed;	
    border-width: 2px;	
    flex-direction: row;	
    border-left-width: 0px;	
    border-right-width: 0px;	
    border-bottom-width: 0px;	
    border-top-width: 0px;	
    border-left-width: 2px;	
  }	
  .timeline-content {	
    width: 227px;	
    display: flex;	
    padding: var(--dl-space-space-unit);	
    flex-wrap: wrap;	
    align-items: center;	
    flex-direction: column;	
    text-align: center;	
    font-family: montserrat; 	
    width: 100%;	
    align-items: flex-start;	
    flex-direction: column;	
    justify-content: space-between;	
    padding:5%;	
    align-items: center;	
  }	
  .timeline-title{	
    color: black;	
    font-size: 17px;	
    line-height: 1.3;	
    margin: 5%;	
    font-weight: bold;	
    align-self: center;	
    font-size: 18px;	
  }	
  .timeline-description{	
    color: #595959;	
    font-size: 13px;	
    line-height: 1.5;	
    margin: 0;	
    font-size: 15px;	
  }

  /* section-seven */
  .section-seven{	
    width: 80%;	
    padding: 2rem;	
  }	
  .section-seven h1{	
    font-size: 30px;
    margin: 0 0 15pt 0;
  }	
  .question{	
    padding:1%;	
    font-size: 13px;	
  }
  .answer p{
    font-size: 13px;
  }
  		
  /* Footer */	
  .footer{
    padding: 1rem;
    grid-template-columns: 60% 30%;
    grid-gap: 10%;
  }
  .footer-right span{
    font-size: 13px;
  }
  #footer-icon{	
    max-width: 10%;	
    max-height: 10%;	
  }

}

@media (min-width:1024px) and (max-width:1439px){
  .navgroup{
    width: 30%;
  }
  .section-two-description{
    padding: 3em 4em;
  }
  .logos{
    width: 70%;
  }
  .question{
    padding:2%;
  }
  .section-five{
    width: 80%;
  }
  .footer{
    grid-template-columns: 60% 30%;
    grid-gap: 10%;
    padding: 2em;
  }
  #footer-icon{
    max-width: 10%;
    max-height: 10%;
  }
}

  